.grid {
  border: 2px solid;
  height: 480px;
  width: 560px;
  display: flex;
  flex-wrap: wrap;
}

.grid div {
  height: 80px;
  width: 80px;
}

.player-one {
  background-color:darkmagenta;
  border-radius: 40px;
}

.player-two {
  background-color:hotpink;
  border-radius: 40px;
}
